<mat-toolbar>
  <div id="toolbar-actions">
    <button mat-icon-button id="menu-toggle-btn" (click)="toggleMenu()">
      <mat-icon *ngIf="!menuOpen">menu</mat-icon>
      <mat-icon *ngIf="menuOpen">close</mat-icon>
    </button>
  </div>

  <mat-nav-list class="toolbar-nav">
    <mat-list-item>
      <a class="nav-link" href="user-observation">
        <mat-icon fontIcon="find_in_page"></mat-icon>
        <span>observation</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav-link" href="identification-task">
        <mat-icon fontIcon="lightbulb_outline
        "></mat-icon>
        <span>Identification Tasks</span>
      </a>
    </mat-list-item>
  </mat-nav-list>

  <div id="nav-menu" [class.open]="menuOpen">
    <button mat-icon-button id="close-menu-btn" (click)="toggleMenu()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-nav-list class="sidebar-nav">
      <mat-list-item>
        <a class="nav-link" href="user-observation">
          <mat-icon fontIcon="find_in_page"></mat-icon>
          <span>Warehouse Outputs</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link" href="identification-task">
          <mat-icon fontIcon="lightbulb_outline
          "></mat-icon>
          <span>Identification Tasks</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</mat-toolbar>
